<% if medico_signed_in? %>

<span class="image right">
   <%= link_to 'Regresar', medicos_path, :class => "button small icon fa-arrow-left" %>
</span>

    <h1>Editar médico</h1>
    
     <hr/> 
    
    <%= render 'form' %>
    
    
    
<% end %>
