
<% if medico_signed_in? %>

<span class="image right">
     <%= link_to 'Regresar', paciente_observacions_path(@paciente), :class => "button small icon fa-arrow-left"%>
</span>

    <h1>Editar observación</h1>
    <hr/>
    
    <%= render 'form' %>
    
<% end %>