<span class="image right">
     <%= link_to 'Regresar', paciente_observacions_path(@paciente), :class => "button small icon fa-arrow-left"%>
</span>
<% if medico_signed_in? %>
    <h1>Nueva observación</h1>
    <hr/>
    
    <%= render 'form' %>
    
    
<% end %>
