<h1>Editar cita</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', paciente_citum_path(@paciente, @citum), :class => "button special small"  %> |
<%= link_to 'Regresar', paciente_cita_path(@paciente), :class => "button small icon fa-arrow-left"  %>
