
    <% if medico_signed_in? %>
        <h1>Nuevo paciente</h1>
        
        <%= render 'form' %>
        
        <%= link_to 'Regresar', pacientes_path , :class => "button small icon fa-arrow-left"%>
    
    <% end %>
